.iconsSize{
    font-weight: 900; 
    font-size: 5em;
}

.volumeIcon{
    font-weight: 900; 
    font-size: 2em;
}

.marginBottom{
    margin-bottom:5%;

}

.player {
   /* height: 95vh;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
  }
  
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
  }
  
  .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    border-radius: 15%;
  }
  
  .now-playing {
    font-size: 1rem;
  }

  
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
  .playpause-track-1, .playpause-track-2,.playpause-track-3 { 
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
  
  .playpause-track-1:hover, .playpause-track-2:hover, .playpause-track-3:hover  {
    opacity: 1.0;
  }
  
  .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modify the appearance of the slider */
  .seek_slider-1, .volume_slider-1, .seek_slider-2, .volume_slider-2,  .seek_slider-3, .volume_slider-3 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  /* Modify the appearance of the slider thumb */
  .seek_slider-1::-webkit-slider-thumb, .volume_slider-1::-webkit-slider-thumb, .seek_slider-2::-webkit-slider-thumb, .volume_slider-2::-webkit-slider-thumb, .seek_slider-3::-webkit-slider-thumb, .volume_slider-3::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .seek_slider-1:hover, .volume_slider-1:hover, .seek_slider-2:hover, .volume_slider-2:hover, .seek_slider-3:hover, .volume_slider-3:hover {
    opacity: 1.0;
  }
  
  .seek_slider-1, .seek_slider-2, .seek_slider-3 {
    width: 60%;
  }

  
  .volume_slider-1, .volume_slider-2 , .volume_slider-3  {
    width: 30%;
  }
  
  .current-time-1, .total-duration-1, .current-time-2, .total-duration-2, .current-time-3, .total-duration-3 {
    padding: 10px;
  }
  
  i.fa-volume-down, i.fa-volume-up {
    padding: 10px;
  }
  
  i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
    cursor: pointer;
  }